$grey: #edf2f6;
$text-color: #47495c;

html,
body {
  background-color: $grey;
  color: $text-color;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1 {
  font-size: 1.6rem;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: 3px;
  border: 1px solid $text-color;
  background: $text-color;
  box-sizing: border-box;
  color: white;
  padding: 10px 30px;
  height: 35px;
  width: 100%;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  &:hover {
    background-color: #3a3b4b;
    cursor: pointer;
  }
}

.bold {
  font-weight: 500;
}

.form-group {
  margin: 10px 0px;
  input,
  textarea {
    outline: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.2px;
    height: 35px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    resize: none;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    }
  }

  textarea {
    height: auto;
    min-height: 100px;
    line-height: inherit;
  }

  label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
  }
}

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}
